{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "trimscape/css/bootstrap4a3.min.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "trimscape/css/leaflet0.7.5.css" %}">
    <link rel="stylesheet" href="{% static "trimscape/css/c30.4.11.min.css" %}">

    <link rel="stylesheet" href="{% static "trimscape/css/trimscape.css" %}">
    <title>ESP Health - RiskScape</title>
</head>
<body>
<div id="branding" class="container">
    <div class="row">
        <div class="col-md-1 disabled">
            <h1 class="pull-left">RiskScape</h1>
        </div>
        <div class="col-md-11 clearfix">
            <img src="{% static 'trimscape/img/mdph.png' %}" class="pull-right">
        </div>
    </div>
</div>
{% block content %}{% endblock %}
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script type='text/javascript' src="{% static "trimscape/js/jquery3.min.js" %}"></script>
<script type='text/javascript' src="{% static "trimscape/js/tether1.2.min.js" %}"></script>
<script type='text/javascript' src="{% static "trimscape/js/bootstrap4a3.min.js" %}"></script>
<script type="text/javascript" src="{% static "trimscape/js/js.cookie2.1.3.min.js" %}"></script>
<script type='text/javascript'>
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>
{% block script %}{% endblock %}
</body>
</html>