{% load staticfiles %}
<div id="conditions" class="carousel slide clearfix" data-interval="false">
    <div class="carousel-controls">
        {% if outcomes|length > 1 %}
            <a class="left carousel-control" href="#conditions" data-slide="prev">
                <span class="text-primary icon-prev" aria-hidden="true"></span>
            </a>
            <ol class="carousel-indicators">
                {% for outcome in outcomes %}
                    <li data-target="#conditions" data-slide-to="{{ forloop.counter }}"
                        class="{% if forloop.first %}active{% endif %}"></li>
                {% endfor %}
            </ol>
            <a class="right carousel-control" href="#conditions" data-slide="next">
                <span class="text-primary icon-next" aria-hidden="true"></span>
            </a>
        {% endif %}
    </div>
    <div class="carousel-inner" role="listbox">
        {% for carousel_page in outcomes %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                {% for card_deck in carousel_page %}
                    <div class="card-deck-wrapper">
                        <div class="card-deck">
                            {% for outcome in card_deck %}
                                {% if outcome == None %}
                                    <div class="card placeholder">
                                    </div>
                                {% else %}
                                    <div class="card {% cycle 'one' 'two' 'three' 'four' 'five' 'six' %}">
                                        <div class="card-block">
                                            <h6 class="card-title text-uppercase">{{ outcome.display_name|safe }}</h6>
                                            <div class="card-text">
                                                <div class="row">
                                                    {% include body %}
                                                </div>
                                            </div>
                                        </div>
                                        {% if footer %}
                                            <div class="card-footer smallest {% cycle 'one' 'two' 'three' 'four' 'five' 'six' %}">
                                                {% include footer %}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>