{% extends 'trimscape/base.html' %}


{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card {% if form.errors %}card-outline-danger text-danger{% endif %}">
                    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
                        <div class="card-header {% if form.errors %}card-danger{% else %}card-primary{% endif %} card-inverse">
                            <h4 class="card-title">Login</h4>
                        </div>
                        <div class="card-block">
                            {% if form.errors %}
                                <h6 class="card-title">
                                    <small>Incorrect Login. Please Try Again</small>
                                </h6>
                            {% endif %}
                            <div class="card-text">

                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control form-control-lg"
                                               id="{{ form.username.id_for_label }}" name="username"
                                               placeholder="Username">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <input type="password" class="form-control form-control-lg"
                                               id="{{ form.password.id_for_label }}" name="password"
                                               placeholder="Password">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input class="btn btn-primary" type="submit" value="Login"/>
                            <button class="btn btn-sm btn-secondary pull-right" type="button" onclick="window.location.href='{% url 'registration_register' %}';">New User</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block script %}
    {{ block.super }}
{% endblock %}