<button id="{{ bound }}-time" data-time="" data-month="{{ time.month }}" data-year="{{ time.year }}" data-quarter="{{ time.quarter }}" type="button"
        class="btn btn-sm btn-outline-primary dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
</button>
<div class="dropdown-menu time-dropdown" aria-labelledby="{{ bound }}-time">
    {% include 'analysis/menu_search.html' %}
    <div class="scroller">
        {% for mr in month_range %}
            {% if not forloop.first and bound == 'end' or not forloop.last and bound == 'start' %}
                <a class="dropdown-item month" data-time="{{ mr.display }}" data-month="{{ mr.month }}"
                   data-year="{{ mr.year }}" data-quarter="{{ mr.quarter }}"
                   href="javascript:updateTimeBound('{{ bound }}-time', $('a[data-time=\'{{ mr.display }}\']'));">{{ mr.display }}</a>
            {% endif %}
        {% endfor %}
        {% for qr in quarter_range %}
            {% if not forloop.first and bound == 'end' or not forloop.last and bound == 'start' %}
                <a class="dropdown-item quarter" data-time="{{ qr.display }}" data-month="{{ qr.month }}"
                   data-year="{{ qr.year }}" data-quarter="{{ qr.quarter }}"
                   href="javascript:updateTimeBound('{{ bound }}-time', $('a[data-time=\'{{ qr.display }}\']'));">{{ qr.display }}</a>
            {% endif %}
        {% endfor %}
        {% for yr in year_range %}
            {% if not forloop.first and bound == 'end' or not forloop.last and bound == 'start' %}
                <a class="dropdown-item year" data-time="{{ yr.display }}" data-month="{{ yr.month }}"
                   data-year="{{ yr.year }}" data-quarter="{{ yr.quarter }}"
                   href="javascript:updateTimeBound('{{ bound }}-time', $('a[data-time=\'{{ yr.display }}\']'));">{{ yr.display }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>