{% extends 'analysis/graphable.html' %}
{% load staticfiles %}

{% block main %}
    {{ block.super }}
    <div class="row graphs">
        {% if data.0.location == data.1.location %}
            <div class="col-md-12">
                {% include 'analysis/current-rate-graphs.html'  with location=data.0.location position=1 %}
            </div>
        {% else %}
            <div class="col-md-6">
                {% include 'analysis/current-rate-graphs.html'  with location=data.0.location position=1 %}
            </div>
            <div class="col-md-6">
                {% include 'analysis/current-rate-graphs.html'  with location=data.1.location position=2 %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type='text/javascript'>
        var chartInterval = null;
        function buildGraphs(url) {
            $("[data-loc]").each(function () {
                makeBarChart($(this).find('div.barchart:first'));
                makePieChart($(this).find('div.piechart:first'));
            });
            activateLoadingOverlay();
            chartInterval = setInterval(function () {
                getChartData(url);
            }, 500);
        }
        function getChartData(chartCache) {
            $.ajax({
                url: chartCache,
                type: 'get',
                dataType: 'json',
                cache: false,
                success: function (response) {
                    if (response.complete) {
                        clearInterval(chartInterval);
                        $("[data-loc]").each(function () {
                            loadLocationData($(this), response.data);
                        });
                        equalizeAxes();
                        deactivateLoadingOverlay();
                    }
                },
                error: function (err) {
                    clearInterval(chartInterval);
                    $('#error-alert').show();
                    deactivateLoadingOverlay();
                    console.log(err);
                }
            });
        }

        function equalizeAxes() {
            var values = [];
            var bar = $('div.barchart');
            bar.each(function () {
                values.push(Math.max(...$(this).data('c3-chart').data.values('{{ stratify }}')));
            });
            var high = Math.max(...values);
            var yMax = Math.ceil(high);
            if (high < .1){
                yMax = Math.ceil(high*100)/100;
            }else if (high < 1){
                yMax = Math.ceil(high*10)/10;
            }
            bar.each(function () {
                $(this).data('c3-chart').axis.max(yMax);
            });
        }

        function loadLocationData(container, data) {
            var location = container.attr('data-loc').split("-").slice(1).join("-");
            data = data[location];
            if (!data) {
                markInsufficient(container);
            } else {
                if ('{{ stratify }}' == 'none') {
                    data = [data];
                }
                var barContainer = container.find('div.barchart:first');
                addBarChartData(barContainer.data('c3-chart'), data);
                barContainer.data('data-graphable', data);
                var pieContainer = container.find('div.piechart:first');
                addPieChartData(pieContainer.data('c3-chart'), data);
                pieContainer.data('data-graphable', data);
            }
        }

        function markInsufficient(target) {
            target.find('.card').remove();
            target.find('.alert').show();
        }

        function makeBarChart(target) {
            var graphable = target.data('data-graphable');
            var chart = c3.generate({
                bindto: '#' + target.attr('id'),
                padding: {
                    bottom: 5,
                },
                data: {
                    type: 'bar',
                    columns: [],
                    color: function (color, d) {
                        try {
                            return colors[d.index];
                        }catch(err){
                            return '#0275D8';
                        }
                    }
                },
                axis: {
                    x: {
                        type: 'category',
                    },
                    y: {
                        padding: {top: 0, bottom: 0}
                    }
                },
                tooltip: {
                    format: {
                        name: function (name, ratio, id, index) {
                            return "";
                        },
                        value: function (value, ratio, id, index) {
                            var datum = target.data('data-graphable')[index];
                            if (datum["numerator"] == -1) {
                                return "Insufficient Data";
                            }
                            if (value > 1) {
                                value = value.toFixed(1);
                            } else {
                                value = value.toFixed(2);
                            }
                            return value + '% (' + datum["numerator"] + '/' + datum["denominator"] + ')';
                        }
                    }
                },
                color: {pattern: ['#0275D8']},
                legend: {
                    show: false
                },
                size: {height: 250}
            });
            target.data('c3-chart', chart);
        }

        function get_label_text(strat) {
            return $('button[data-stratify="' + strat + '"]').first().text();
        }

        $(".strat-label").html(get_label_text('{{ stratify }}'));

        function makePieChart(target) {
            var chart = c3.generate({
                bindto: '#' + target.attr('id'),
                padding: {
                    bottom: 15
                },
                data: {
                    columns: [],
                    type: 'pie',
                    order: null
                },
                pie: {
                  label: {
                    show: false
                  }
                },
                color: {
                    pattern: colors
                },
                size: {height: 300},
                legend: {
                    show: true
                },
                tooltip: {
                    format: {
                        value: function (value, ratio, id, index) {
                            var tot = 0;
                            $.each(target.data('data-graphable'), function (idx, elem) {
                                if (elem['{{ stratify }}'] == 'All' || elem['{{ stratify }}'] == 'Unstratified') {
                                    tot = elem['numerator'];
                                }
                            });

                            var datum = target.data('data-graphable')[index];
                            var val = ratio * 100;
                            if (val > 1) {
                                val = val.toFixed(1);
                            } else {
                                val = val.toFixed(2);
                            }
                            return val + '% (' + datum["numerator"] + '/' + tot + ')';
                        }
                    }
                }
            });
            target.data('c3-chart', chart);
        }

        function addBarChartData(chart, graphable) {
            var cats = [];
            var cols = ['{{ stratify }}'];
            var regions = [];
            graphable.forEach(function (item, idx) {
                let num = item['numerator'] < 0 ? 0 : item['numerator'];
                if (item['numerator'] < 0) {
                    regions.push({axis: 'x', start: idx - .3, end: idx + .3, class: 'insufficient'});
                }
                cols.push((num / item['denominator']) * 100);
                cats.push(decodeHtml(item['{{ stratify }}']));
            });
            chart.load({
                columns: [cols],
                categories: cats
            });
            chart.regions.add(regions);
        }
        function addPieChartData(chart, graphable) {
            var cols = [];
            graphable.forEach(function (item) {
                if (item['{{ stratify }}'] == "All") {
                    return;
                }
                var piece = [];
                let num = item['numerator'] < 0 ? 0 : item['numerator'];
                piece.push(decodeHtml(item['{{ stratify }}']));
                piece.push(num);
                cols.push(piece);
            });
            chart.load({
                columns: cols
            });
        }
        {% if data.0.location == data.1.location %}
            buildGraphs("{% url 'current_cache' data.0.cache -1 %}");
        {% else %}
            buildGraphs("{% url 'current_cache' data.0.cache data.1.cache %}");
        {% endif %}
    </script>


{% endblock %}