<div data-loc="loc-{{ location }}">
    <div class="alert alert-danger collapse" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{ location }}</strong> has insufficient data.
    </div>
    <div class="card card-outline-primary">
        <div class="card-header bg-primary text-white"><h5><strong>{{ location }}</strong></h5></div>
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Prevalence of the Selected Outcome by <span class="strat-label"></span></h5>
                <div id="bar-{{ position }}" class="barchart"></div>
            </div>
        </div>
        <hr/>
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title"><span class="strat-label"></span> of Patients with the Selected Outcome</h5>
                <div id="pie-{{ position }}" class="piechart"></div>
            </div>
        </div>
    </div>
</div>