{% extends 'trimscape/app_base.html' %}
{% load humanize %}
{% load staticfiles %}

{% block main %}
    <div class="row">
        {% if Failure %}
            <div class="alert alert-sm alert-danger alert-dismissible show col-md-4" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Failed</strong>: {{ Failure|join:", " }}
            </div>
        {% endif %}
        {% if Pending %}
            <div class="alert alert-sm alert-warning alert-dismissible show col-md-4" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Pending</strong>: {{ Pending|join:", " }}
            </div>
        {% endif %}
        {% if Running %}
            <div class="alert alert-sm alert-info alert-dismissible show col-md-4" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Running</strong>: {{ Running|join:", " }}
            </div>
        {% endif %}
        {% if Success %}
            <div class="alert alert-sm alert-success alert-dismissible show col-sm-4" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Success</strong>: {{ Success|join:", " }}
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div>
            <h6 class="pull-right">
                Data Last Updated {{ last_outcome_update }}<br/>
                Population Under Surveillance: {{ total_caught|intcomma }}
            </h6>
            <p class="larger">Select Condition Definition or
                <button class="btn btn-sm btn-outline-primary" onclick="$('#outcome-modal').modal('show');">Create your
                    Own <i class="fa fa-search"></i></button>
            </p>
        </div>
        <div>
            {% include 'trimscape/dashboard.html' with body="analysis/summary-carousel-item.html" footer="analysis/summary-carousel-item-footer.html" %}
        </div>
        <hr>
        <div class="text-muted">
            <p>Prevalence reflects data from Massachusetts areas covered by MDPHnet data sources. The demographic
                distribution of the MDPHnet population can vary from total Massachussets population. <a
                        href="javascript:$('#about-link').click();">See more.</a></p>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ block.super }}
    <script type='text/javascript' src="{% static "trimscape/js/d3-3.5.17.min.js" %}"></script>
    <script type='text/javascript' src="{% static "trimscape/js/c3-0.4.11.min.js" %}"></script>
    <script type='text/javascript'>
        $('[data-url]').on('click', function () {
            window.location.href = $(this).attr('data-url');
        })

        $("div[data-donut]").each(function () {
            var percentage = $(this).data('donut');
            var bg = $(this).css('background-color');
            c3.generate({
                bindto: '#' + $(this).attr('id'),
                size: {width: 225, height: 150},
                data: {
                    columns: [
                        ['show', percentage],
                        ['dontshow', 100 - percentage],],
                    type: 'donut',
                    order: null,
                    line: {
                        connect: {null: false}
                    }
                },
                color: {
                    pattern: ['#0275D8', bg]
                },
                legend: {
                    show: false
                },
                donut: {
                    label: {
                        show: false
                    },
                    title: percentage + '%',
                    width: 15,
                    expand: false
                },
                tooltip: {
                    show: false
                },
                interaction: {
                    enabled: false
                }
            });
        });

        $("div[data-spark]").each(function () {
            var spark = $(this).data('spark');
            for (var i = 0; i < spark.length; i++) {
                if (spark[i] == -1) {
                    spark[i] = null;
                }
            }
            c3.generate({
                bindto: '#' + $(this).attr('id'),
                data: {
                    columns: [spark],
                    type: "area"
                },
                color: {pattern: ['#fff']},
                legend: {
                    show: false
                },
                tooltip: {show: false},
                axis: {
                    x: {show: false},
                    y: {show: false}
                },
                size: {height: 150, width: 200},
                point: {
                    show: false
                }
            });
        });
        d3.selectAll(".c3-chart-arcs-title")
                .attr("dy", "-0.0em")
                .style('fill', '#fff')
                .style('font-size', 'large');
    </script>
{% endblock %}