{% include 'analysis/menu_search.html' %}
<div class="scroller">
{% if owner == 'location-two' %}
    <a class="dropdown-item"  href="javascript:updateLocation('{{ owner }}','none','None');">None</a>
{% endif %}
<a class="dropdown-item"  href="javascript:updateLocation('{{ owner }}','Massachusetts','Massachusetts');">Massachusetts</a>
<h6>Cities</h6>
{% for loc in location_list.cities %}
    <a class="dropdown-item" href="javascript:updateLocation('{{ owner }}','{{ loc }}','{{ loc }}');">{{ loc }}</a>
{% endfor %}
<h6>Zip Codes</h6>
{% for loc in location_list.zips %}
    <a class="dropdown-item" href="javascript:updateLocation('{{ owner }}','{{ loc }}','{{ loc }}');">{{ loc }}</a>
{% endfor %}
</div>