{% load staticfiles %}
<div class="col-md-3 condition-movement">
    <img src="{% static 'trimscape/img/mass-active.png' %}"
         width="50px"
         data-url="{% url 'outcome' outcome.name %}">
    <i class="fa fa-2x fa-bar-chart d-block"
       data-url="{% url 'current-outcome' outcome.name %}"></i>
    <i class="fa fa-2x fa-line-chart d-block"
       data-url="{% url 'timeseries-outcome' outcome.name %}"></i>
</div>