{% if outcome.value == '' %}
    <div class="col-md-9">
        Updating with new data
    </div>
{% else %}
    <div id="{{ outcome.name|slugify }}-container"
         class="col-md-9"
            {% if outcome.chart_type == 'D' %}
         data-donut="{{ outcome.value }}"
            {% else %}
         data-spark="{{ outcome.trendline }}"
            {% endif %}>
    </div>
{% endif %}
{% include 'analysis/summary-carousel-item-links.html' %}