{% extends 'analysis/graphable.html' %}

{% block main %}
    {{ block.super }}
    <div class="row">
        <div class="col-md-12">
            <div data-alert="{{ data.0.location }}" class="alert alert-danger collapse" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>{{ data.0.location }}</strong> has insufficient data.
            </div>
            {% if data.0.location != data.1.location %}
                <div data-alert="{{ data.1.location }}" class="alert alert-danger collapse" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{ data.1.location }}</strong> has insufficient data.
                </div>
            {% endif %}
            <div class="card card-outline-primary">
                <div class="card-block">
                    <div id="time-card" class="card-body"
                            {% if data.0.location == data.1.location %}
                         data-url="{% url 'timeseries_cache' data.0.cache -1 %}"
                            {% else %}
                         data-url="{% url 'timeseries_cache' data.0.cache data.1.cache %}"
                            {% endif %}
                    >
                        <div id="timeseries-graph"></div>
                        <div id="control-buttons" class="text-md-center">
                            <div class="btn-group" role="group">
                                <button id="trends" class="btn btn-primary btn-sm"
                                        onclick="toggleTrendlines();">Hide
                                    Trendlines
                                </button>
                                <button id="inflection" class="btn btn-primary btn-sm"
                                        disabled></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="time-card-footer" class="card-footer text-md-center">
                    <select id="summary-select" class="custom-select form-control"
                            onchange="showSummary($(this).find('option:selected').attr('datainfo'));">
                        <option hidden selected> -- View Trendline Summary --</option>
                    </select>
                    <pre id="trendline-summary" style="font-size: 14px;"></pre>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ block.super }}
    <script type='text/javascript'>
        updateTimeChunk('{{ chunked|capfirst }}');
        var cols = [];
        var dotted = {};
        var jsonData = null;
        function buildGraphs() {
            var url = $('#time-card').attr('data-url');
            makeTimeseriesChart($("#timeseries-graph"));
            activateLoadingOverlay();
            getChartData(url);
        }
        function getChartData(chartCache) {
            $.ajax({
                url: chartCache + $('#graphable-toolbar').attr('data-url'),
                type: 'get',
                dataType: 'json',
                cache: false,
                success: function (response) {
                    if (!response.complete) {
                        setTimeout(function () {
                            getChartData(chartCache);
                        }, 5000)
                    }
                    if (response.complete) {
                        var locations = [];
                        cols[0] = ['x'];
                        jsonData = response.data;
                        $("#location-one, #location-two").each(function () {
                            var location = $(this);
                            if (location.html().trim() != "None") {
                                if (Object.keys(response.data[location.attr('data-location')]).length === 0) {
                                    markInsufficient(location);
                                } else {
                                    let cleanedLocation = location.html().trim().replace(/[ ]/g,'_').replace(/[/]/g,'123');
                                    makeTimeseriesChartData(response.data, location.attr('data-location'), cleanedLocation);
                                    locations.push(cleanedLocation);
                                }
                            }
                        });
                        if (locations.length > 0) {
                            loadChart($("#timeseries-graph").data('c3-chart'));
                            cleanUpChart($("#timeseries-graph").data('c3-chart'), locations);
                            toggleTrendlines();
                        } else {
                            $('#time-card').parents('.card:first').remove();
                        }
                        deactivateLoadingOverlay();
                    }
                },
                error: function (err) {
                    $('#error-alert').show();
                    deactivateLoadingOverlay();
                    console.log(err);
                }
            });
        }
        function loadChart(chart) {
            chart.load({
                columns: cols
            });
            $("[class*='Trend-'] circle").attr('r', '0px');
            $("[class*='Inflect-'] circle").attr('r', '1.5px');
        }
        var ids = [];
        function makeTimeseriesChartData(data, zips, location) {
            var graphable = data[zips];
            var keys = Object.keys(graphable);
            if (keys.length == 0) {
                return null;
            }
            var end = cols.length;
            for (var i = 0; i < keys.length; i++) {
                var loc = location + '|' + decodeHtml(keys[i]);
                cols[i + end] = [loc];
                dotted[loc] = 'dotted';
                var slices = graphable[keys[i]]['raw'];
                for (var slice in slices) {
                    var item = graphable[keys[i]]['raw'][slice];

                    if (i + end == 1) {
                        if (timeChunk == "month") {
                            cols[0].push(item['year'] + '-' + item['month'] + '-01');
                        } else if (timeChunk == "year") {
                            cols[0].push(item['year'] + '-01-01');
                        } else if (timeChunk == "quarter") {
                            cols[0].push(item['year'] + '-' + item['quarter'] * 3 + '-01');
                        }
                    }
                    if (item['numerator'] == -1) {
                        cols[i + end].push(null);
                    } else {
                        cols[i + end].push((item['numerator'] / item['denominator']) * 100);
                    }
                }
            }
            end = cols.length;
            for (var i = 0; i < keys.length; i++) {
                var group = location + '|' + decodeHtml(keys[i]);

                ids.push(group);
                cols[i + end] = ['Trend-' + group];
                for (var j in graphable[keys[i]]['trend']['points']) {
                    cols[i + end].push(graphable[keys[i]]['trend']['points'][j]);
                }
            }
            end = cols.length;
            for (var i = 0; i < keys.length; i++) {
                try {
                    var ip = graphable[keys[i]]['inflect']['points'];
                    group = location + '|' + decodeHtml(keys[i]);
                    cols[i + end] = ['Inflect-' + group];
                    for (var j in graphable[keys[i]]['inflect']['points']) {
                        cols[i + end].push(graphable[keys[i]]['inflect']['points'][j]);
                    }
                } catch (err) {
                }
            }
            {% if stratify in ranged_stratifiers %}
                ids = new Set(ids.sort(rangeSort));
            {%  else %}
                ids = new Set(ids.sort());
            {%  endif %}
            ids = [...ids];
            $('#summary-select option:not(:first)').remove();
            for (var j = 0; j < ids.length; j++) {
                var group = ids[j].split('|')[1];
                var info = graphable[encodeHtml(group)]['trend']['info'];
                addTrendOption(location, group, info);
                try {
                    info = graphable[encodeHtml(group)]['inflect']['info'];
                    group += " after inflection point";
                    addTrendOption(location, group, info);
                } catch (err) {
                }
            }
        }

        function addTrendOption(location, group, info) {
            var attrs = {text: location + " " + group, datainfo: info};
            if (info == null) {
                attrs['disabled'] = 'disabled';
                attrs['text'] = attrs['text'] + " -- No summary available";
            }
            $('#summary-select').append($('<option>', attrs));
        }

        function showSummary(info) {
            $('#trendline-summary').html(info);
        }

        function makeTimeseriesChart(target) {
            var chart = c3.generate({
                bindto: '#' + target.attr('id'),
                data: {
                    x: 'x',
                    columns: cols,
                    classes: dotted,
                    order: null,
                    color: function (color, d) {
                        try {
                            var name = d["id"].replace('Trend-', '').replace('Inflect-', '');
                            return getColor(name);
                        } catch (err) {
                            console.log(err);
                        }
                    },
                    selection: {grouped: true},
                    onclick: function (d, element) {
                        prepareInflection(d, element);
                    },
                    line: {
                        connect: {null: false}
                    }
                },
                size: {height: 275},
                axis: {
                    x: {
                        type: 'timeseries',
                        tick: {
                            format: function (x) {
                                if (timeChunk == 'month') {
                                    return d3.time.format("%b '%y")(x);
                                }
                                else if (timeChunk == 'year') {
                                    return d3.time.format('%Y')(x);
                                }
                                else if (timeChunk == 'quarter') {
                                    let monthed = d3.time.format("%m-%y")(x).split("-");
                                    monthed[0] = 'Q' + String(parseInt(monthed[0].replace('0', '')) / 3);
                                    return monthed[0] + " '" + monthed[1];
                                }
                            }
                        }
                    },
                    y: {
                        min: 0,
                        padding: {top: 3, bottom: 3},
                        tick: {
                            format: function (x) {
                                return x +"%";
                            }
                        }
                    }
                },
                point: {focus: {expand: {enabled: false}}},
                grid: {y: {show: false}},
                tooltip: {
                    contents: tooltip_contents,
                    format: {
                        name: function (name, ratio, id, index) {
                            return name.replace("|", " ");
                        },
                        value: function (value, ratio, id, index) {
                            if (value == -1) {
                                return "Insufficient Data";
                            } else if (value == null) {
                                return "Insufficient Data";
                            }
                            else if (value > 1) {
                                value = value.toFixed(1);
                            } else {
                                value = value.toFixed(2);
                            }
                            return value + '%';
                        }
                    }
                },
                legend: {show: false}
            });
            target.data('c3-chart', chart);
        }
        var timeChunk = $("#time-chunk").attr("data-chunk");
        function markInsufficient(target) {
            $('[data-alert="' + target.html().trim() + '"]').show();
        }
        function prepareInflection(d, element) {
            $('#timeseries-graph').data('c3-chart').xgrids([
                {value: d.x, text: ''},
            ]);
            $('button#inflection').prop('disabled', false).html('Get trendlines for ' + d3.time.format("%B %Y")(d.x))
                    .off('click')
                    .on('click', function () {
                        activateLoadingOverlay();
                        loadNewTrendlineData(d.index);
                    });
            throw new Error("Expected Error to force stop propagation");
        }
        function loadNewTrendlineData(idx) {
            var url = $('#time-card').attr('data-url').replace('timeseries', 'trendline/' + idx + '/timeseries');
            $.ajax({
                url: url + $('#graphable-toolbar').attr('data-url'),
                type: 'get',
                dataType: 'json',
                cache: false,
                success: function (response) {
                    cols = [];
                    cols[0] = ['x'];
                    $(".location-button").each(function () {
                        var location = $(this);
                        if (location.attr('data-location') != 'none') {
                            var data = response.data[location.attr('data-location')];
                            makeTimeseriesChartData(response.data, location.attr('data-location'), location.attr('data-location'));
                        }
                    });
                    var chart = $("#timeseries-graph").data('c3-chart');
                    loadChart(chart);
                    resetInflection();
                    if ($("#trends").html().includes("Show")) {
                        toggleTrendlines();
                    }
                    deactivateLoadingOverlay();
                },
                error: function (err) {
                    $('#error-alert').show();
                    deactivateLoadingOverlay();
                    console.log(err);
                }
            });
        }

        function resetInflection(idx) {
            $('button#inflection').html('Click on Graph to select Inflection Point').prop('disabled', true);
            try {
                var inflect = $('#timeseries-graph').data('c3-chart').xgrids()[0]['value'];
                var start = new Date(inflect);
                start.setDate(start.getDate() - 10);
                var end = new Date(inflect);
                end.setDate(end.getDate() + 10);
                $('#timeseries-graph').data('c3-chart').regions([{
                    axis: 'x',
                    start: start,
                    end: end,
                    class: 'inflection'
                }]);
                $('#timeseries-graph').data('c3-chart').xgrids.remove();
            } catch (err) {
            }
        }

        function cleanUpChart(chart, locations) {
            makeLegend(chart, locations);
        }

        function makeLegend(chart, locations) {
            var table = d3.select('#time-card-footer')
                    .insert('div', ':first-child').attr('id', 'legend').append('table').attr('class', 'table table-bordered table-sm');
            table.append('thead').append('tr').append('th');
            var legend = table.append('tbody');
            legend.selectAll('tbody tr')
                    .data(locations)
                    .enter().append('tr')
                    .attr('class', function (d) {
                        return "loc-" + d;
                    })
                    .html(function (d) {
                        return "<th>" + d.replace(/_/g,' ').replace(/123/g,'/').replace(/ /g,'&nbsp;') + "<button class='btn btn-sm btn-outline-success' data-toggle='tr-" + d + "'><i class='fa fa-check'></i></button></th>";
                    });

            var ids = [];
            for (var i = 1; i < cols.length; i++) {
                if (!cols[i][0].includes('Trend-') && !cols[i][0].includes('Inflect-')) {
                    ids.push(cols[i][0]);
                }
            }
            {% if stratify in ranged_stratifiers %}
                ids = new Set(ids.sort(rangeSort));
            {%  else %}
                ids = new Set(ids.sort());
            {%  endif %}
            ids = [...ids];
            $('tbody tr').each(function () {
                var loc = $(this).attr('class').replace('loc-', '');
                legend.select('.' + $(this).attr('class')).selectAll('td')
                        .data(ids)
                        .enter().append('td')
                        .filter(function (d) {
                            if (d.includes(loc)) {
                                return d;
                            }
                        })
                        .html(function (d) {
                            return "&nbsp";
                        })
                        .attr('data-id', function (d) {
                            return d;
                        })
                        .attr('class', function (d, i) {
                            return 'tr-' + d.split("|")[0] + ' tc-' + String(locations.length == 1 ? i : i < ids.length / 2 ? i : i - ids.length / 2);
                        })
                        .style('color', function (d) {
                            return getColor(d);
                        })
                        .style('background-color', function (d) {
                            return getColor(d);
                        })
                        .on('mouseover', function (d) {
                            focusChart(d, chart);
                        })
                        .on('mouseout', function (d) {
                            chart.revert();
                        })
                        .on('click', function (d) {
                            toggleLegendElement(d);
                            chart.toggle(d);
                            if ($("#trends").html().includes('Hide')) {
                                chart.toggle('Trend-' + d);
                                chart.toggle('Inflect-' + d);
                            }
                        });
            });
            var tcf = $('#time-card-footer');
            tcf.find('td').each(function () {
                if ($(this).html() == "") {
                    $(this).remove();
                }
            });
            var toggles = tcf.find('tbody tr:first td');
            for (var i = 0; i < toggles.length; i++) {
                var strat = toggles.eq(i).attr('data-id').split("|")[1];
                var th = $('<th>').append($('<button>').addClass('btn btn-sm btn-outline-success').attr("data-toggle", "tc-" + i).append($('<i>').addClass('fa fa-check')));
                tcf.find('thead tr:first').append(th.append($('<br>')).append($('<span>').html(strat.replace(' ','&nbsp;'))));
            }
            let legendWidth = 2.1 + toggles.length;
            legendWidth = Math.min(Math.max(legendWidth, 4), 12);
            $('#legend').addClass('col-md-' + legendWidth);
            let legendOffset = 0;
            if (legendWidth < 11) {
                legendOffset = Math.floor((12 - legendWidth) / 2) - 1;
            }
            if (legendOffset > 0) {
                $('#legend').addClass('offset-md-' + legendOffset);
            }
            $("table [data-toggle]").on('click', function () {
                activateLoadingOverlay();
                var cls = $(this).attr('data-toggle');
                setTimeout(function () {
                    toggleLegend(cls);
                    deactivateLoadingOverlay();
                }, 50);
            });
            var spans = $('#legend table thead th span');
            var thWidth = Math.max.apply(null, spans.map( function(){
                return $(this).text().length; }).get());

            spans.each(function(){
                if($(this).html().length != thWidth){
                    var pad = Math.floor((thWidth - $(this).text().length)/2);
                    var spaces = '&nbsp;'.repeat(pad);
                    $(this).html(spaces + $(this).html() + spaces);
                }
            })
        }

        function tooltip_contents(d, defaultTitleFormat, defaultValueFormat, color) {
            var $$ = this, config = $$.config, CLASS = $$.CLASS,
                    titleFormat = config.tooltip_format_title || defaultTitleFormat,
                    nameFormat = config.tooltip_format_name || function (name) {
                                return name;
                            },
                    valueFormat = config.tooltip_format_value || defaultValueFormat,
                    text, i, title, value, name, bgcolor;
            var hasTrends = $("#trends").html().includes("Hide");
            var named = {};
            for (var a = 0; a < d.length; a++) {
                named['' + decodeHtml(d[a].name)] = d[a];
            }
            var keys = Object.keys(named);
            {% if stratify in ranged_stratifiers %}
                keys = keys.sort(rangeSort);
            {%  else %}
                keys = keys.sort();
            {%  endif %}

            for (var i = 0; i < keys.length; i++) {
                if (named[keys[i]].name.includes('Trend-') || named[keys[i]].name.includes('Inflect-')) {
                    continue;
                }
                if (!text) {
                    title = d3.time.format("%B %Y")(d[0]["x"]);
                    text = "<table class='" + CLASS.tooltip + "'>" + (title || title === 0 ? "<tr><th colspan='2'>" + title + "</th></tr>" : "");
                }
                var rowColor = $('.c3-line-');
                name = nameFormat(named[decodeHtml(keys[i])].name);
                var cssName = name.replace(/ /g, "-").replace(/\u00a0/g, "-").replace('.', '-').replace(">", "-").replace("<", "-").replace("(", "-").replace(")", "-").replace(/_/g,'-');
                var rowColor = $('.c3-line-' + cssName + ':first').css('stroke');
                value = valueFormat(named[keys[i]].value, named[keys[i]].ratio, named[keys[i]].id, named[keys[i]].index);
                var trend = null;
                var inflect = null;
                for (var j = 0; j < d.length; j++) {
                    if (!d[j].name.includes('Trend-') && !d[j].name.includes('Inflect-')) {
                        continue;
                    }
                    if (named[keys[i]].name == d[j].name.replace('Trend-', '')) {
                        var tv = valueFormat(d[j].value, d[j].ratio, d[j].id, d[j].index);
                        if (tv != "") {
                            trend = tv;
                        }
                    }
                    if (named[keys[i]].name == d[j].name.replace('Inflect-', '')) {
                        var tv = valueFormat(d[j].value, d[j].ratio, d[j].id, d[j].index);
                        if (tv != "") {
                            inflect = tv;
                        }
                    }
                }

                var trendVal = null;
                if (trend == null && inflect == null) {
                    trendVal = "No data"
                } else if (trend == null) {
                    trendVal = inflect;
                } else if (inflect == null) {
                    trendVal = trend;
                } else if (trend == "Insufficient Data" && inflect == "Insufficient Data") {
                    trendVal = "Insufficient Data"
                } else if (trend == "Insufficient Data") {
                    trendVal = inflect;
                } else if (inflect == "Insufficient Data") {
                    trendVal = trend;
                } else {
                    trendVal = trend + "/" + inflect;
                }
                var idx = name.indexOf(' ');
                var loc = [name.slice(0, idx), name.slice(idx + 1)];
                loc[1] = encodeHtml(loc[1]);
                loc[0] = loc[0].replace(/_/g,' ').replace(/123/g,'/');
                var raw = jsonData[loc[0]][loc[1]].raw[d[0].index];
                if (value != "Insufficient Data") {
                    value = value + " (" + raw['numerator'] + "/" + raw['denominator'] + ")";
                }
                if(hasTrends){
                    name +=" | Trend";
                    value += " | " + trendVal;
                }
                text += "<tr class='" + CLASS.tooltipName + "-" + d[i].id + "'>";
                text += "<td class='name text-md-left'><span style='background-color:" + rowColor + ";'></span>" + name.replace(/_/g,' ').replace(/123/g,"/") + "</td>";
                text += "<td class='value text-md-right'>" + value + "</td>";
                text += "</tr>";
            }
            return text + "</table>";
        }

        function rangeSort(a, b) {
            let intA = parseInt(a.split('|')[1].replace('-', ' ').replace('>', '').split(' ')[0]);
            if (isNaN(intA)) {
                return 1;
            }
            let intB = parseInt(b.split('|')[1].replace('-', ' ').replace('>', '').split(' ')[0]);
            if (isNaN(intB)) {
                return -1;
            }
            return intA - intB;
        }

        function getColor(name) {
            for (var i = 0; i < ids.length; i++) {
                if (name == ids[i]) {
                    return colors[i];
                }
            }
        }
        function toggleLegend(cls) {
            if ($('[data-toggle="' + cls + '"]').children('i:first').hasClass('fa-check')) {
                $('.' + cls).not('.hid').click();
            } else {
                $('.' + cls + '.hid').click();
            }
        }
        function focusChart(did, chart) {
            var elem = $("[data-id='" + did + "']");
            if (!elem.hasClass('hid')) {
                chart.focus([did, 'Trend-' + did, 'Inflect-' + did]);
            }
        }
        function toggleLegendElement(did) {
            var elem = $("[data-id='" + did + "']");
            if (elem.hasClass('hid')) {
                elem.removeClass('hid');
            } else {
                elem.addClass('hid');
            }
            var classes = elem.attr('class').split(' ');
            for (var i = 0; i < classes.length; i++) {
                if (classes[i] != 'hid') {
                    if ($('.' + classes[i]).not('.hid').length == 0) {
                        $("[data-toggle='" + classes[i] + "']>i").removeClass('fa-check').addClass('fa-ban');
                        $("[data-toggle='" + classes[i] + "']>i").parent().removeClass('btn-outline-success').addClass('btn-outline-danger');
                    } else {
                        $("[data-toggle='" + classes[i] + "']>i").removeClass('fa-ban').addClass('fa-check');
                        $("[data-toggle='" + classes[i] + "']>i").parent().removeClass('btn-outline-danger').addClass('btn-outline-success');
                    }
                }
            }
            checkLegendWarning();
        }

        function toggleTrendlines() {
            activateLoadingOverlay();
            setTimeout(function () {
                var chart = $('#timeseries-graph').data('c3-chart');
                if ($("#trends").html().includes("Hide")) {
                    var fn = chart.hide;
                    $("#trends").html("Show Trendlines");
                } else {
                    var fn = chart.show;
                    $("#trends").html("Hide Trendlines");
                }
                for (var i = 1; i < cols.length; i++) {
                    var td = $("td[data-id='"+cols[i][0].replace('Trend-','').replace('Inflect-','')+"']");
                    if (!td.hasClass('hid')) {
                        fn("Trend-" + cols[i][0]);
                        fn("Inflect-" + cols[i][0]);
                    }
                }
                deactivateLoadingOverlay();
            }, 50);

        }

        function checkLegendWarning() {
            if ($('.fa-check').length == 0) {
                d3.select("svg").append("text")
                        .attr("x", 225)
                        .attr("y", 150)
                        .classed('graph-text text-danger', true)
                        .text("Select Value(s) to view from Legend");
                $('.graph-text').each(function () {
                    $(this).css('fill', $(this).css('color'));
                });
            } else {
                $('.graph-text').remove();
            }
        }
        resetInflection();
        buildGraphs();
    </script>
{% endblock %}
