{% extends 'trimscape/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card card-block">
                    <h4 class="card-title">Activate Account for {{ object.user.username }}</h4>
                    <div class="card-text">
                        <form method="post" action="">{% csrf_token %}
                            {% for field in form %}
                                <div class="form-group row {% if field.errors %}has-danger{% elif field.value %}has-success{% endif %}">
                                    <div class="col-sm-12">
                                        <input type="password" class="form-control {%if field.value %}bg-success{% endif %}" id="{{ field.id_for_label }}"
                                               name="{{ field.name }}" placeholder="{{ field.label }}"
                                               {% if field.value and not field.errors or field.name in 'email1email2' and field.non_form_errors %}value="{{ field.value }}"{% endif %}>
                                    </div>
                                </div>
                            {% endfor %}
                            <input class="btn btn-primary" type="submit" value="Activate and Login"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block script %}
    {{ block.super }}
{% endblock %}