{% extends 'trimscape/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-sm-center">Review Registration Requests</h2>
                <table id="reg-review" class="registration-review table table-hover table-sm">
                    <thead class="table-info">
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Institution</th>
                        <th>Approve/Deny/Retry</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rr in to_decide %}
                        <tr id="row-{{ rr.pk }}">
                            <td>{{ rr.supplement.full_name }}</td>
                            <td>{{ rr.user.email }}</td>
                            <td>{{ rr.supplement.institution }}</td>
                            <td>
                                <i class="fa fa-spinner fa-spin invisible" aria-hidden="true"></i>
                                <button class="btn btn-sm btn-success"
                                        onclick="approveRegistration($(this), '{% url 'registration-approve' rr.pk %}');">
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"><span
                                            class="smallest">Approve</span></i>
                                </button>
                                <button class="btn btn-sm btn-danger"
                                        onclick="approveRegistration($(this), '{% url 'registration-deny' rr.pk %}');">
                                    <i class="fa fa-thumbs-o-down" aria-hidden="true"><span class="smallest">Deny</span></i>
                                </button>
                                <button class="btn btn-sm btn-primary"
                                        onclick="approveRegistration($(this), '{% url 'registration-retry' rr.pk %}');">
                                    <i class="fa fa-repeat" aria-hidden="true"><span class="smallest">Retry</span></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h2 class="text-sm-center">Approved Requests Outstanding</h2>
                <table id="reg-pending" class="registration-review table table-sm">
                    <thead class="table-info">
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Institution</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pu in processed %}
                        <tr id="row-{{ pu.pk }}" class="{% if pu.status == 'accepted' %}table-success{% else %}table-danger{% endif %}">
                            <td>{{ pu.supplement.full_name }}</td>
                            <td>{{ pu.user.email }}</td>
                            <td>{{ pu.supplement.institution }}</td>
                            <td class="status">{% if pu.status == 'accepted' %}Waiting for User{% else %}Expired{% endif %}</td>
                            <td class="action">{% if pu.status == 'accepted' %}No Action{% else %}
                                <i class="fa fa-spinner fa-spin invisible" aria-hidden="true"></i>
                                <button class="btn btn-sm btn-success"
                                        onclick="approveRegistration($(this), '{% url 'registration-approve' pu.pk %}');">
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"><span
                                            class="smallest">Re-approve</span></i>
                                </button>
                                <button class="btn btn-sm btn-danger"
                                        onclick="approveRegistration($(this), '{% url 'registration-delete' pu.pk %}');">
                                    <i class="fa fa-thumbs-o-down" aria-hidden="true"><span class="smallest">Delete</span></i>
                                </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h2 class="text-sm-center">Current Users</h2>
                <table class="registration-review table table-sm table-striped">
                    <thead class="table-info">
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Institution</th>
                        <th>Last Login</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.profile.full_name }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.profile.institution }}</td>
                            <td>{{ user.last_login }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ block.super }}
    <script type='text/javascript'>
        function approveRegistration(container, url) {
            var td = container.parent();
            td.find('button').remove();
            td.find('.fa-spinner').removeClass('invisible');
            $.ajax({
                type: "POST",
                url: url,
                dataType: 'json',
                success: function (response) {
                    var row=$('#row-' + response.completed);
                    var parentID = row.parents('table').attr('id');
                    if(parentID =='reg-pending'){
                        if(response.approved){
                            row.find('.fa-spinner').addClass('invisible');
                            row.removeClass('table-danger').addClass('table-success');
                            row.find('.status').html('Waiting for User');
                            row.find('.action').html('No Action');
                        }else{
                            row.fadeOut(1500, function () {
                            $(this).remove();
                        });
                        }
                    }else if(parentID == 'reg-review') {
                        row.fadeOut(1500, function () {
                            if(response.approved){
                                row.find('.fa-spinner').addClass('invisible');
                                row.removeClass('table-danger').addClass('table-success');
                                row.find('td:last').html('Waiting for User');
                                row.append($('<td>').html('No Action'));
                                row.insertAfter($('#reg-pending tbody tr:last'));
                                row.fadeIn(500);
                            }else {
                                $(this).remove();
                            }
                        });
                    }
                },
            });
        }
    </script>
{% endblock %}