Dear {{ full_name }},
<br/>
Your request to use Riskscape has been approved.
<br/>
Please follow the link and set your account password to finish activation.
<br/>
<a href="https://riskscape.esphealth.org/{% url 'registration_activate' activation_key=activation_key %}">Activate</a>
<br/>
The activation link above will be expired in {{ expiration_days }} days.