{% extends 'trimscape/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="post" action="">{% csrf_token %}
                    <div class="card card-outline-primary">
                        <div class="card-header card-primary card-inverse">
                            <h4 class="card-title">Register</h4>
                        </div>
                        <div class="card-block">
                            <div class="card-text">
                                {% for field in supplement_form %}
                                    <div class="form-group row {% if field.errors %}has-danger{% elif field.value %}has-success{% endif %}">
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" id="{{ field.id_for_label }}"
                                                   name="{{ field.name }}" placeholder="{{ field.label }}"
                                                   {% if field.value and not field.errors %}value="{{ field.value }}"{% endif %}>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% for field in form %}
                                    <div class="form-group row {% if field.value %}has-success{% endif %} {% if field.errors or field.name in 'email1email2' and form.non_field_errors %}has-danger{% endif %}">
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" id="{{ field.id_for_label }}"
                                                   name="{{ field.name }}" placeholder="{{ field.label }}"
                                                    {% if field.value and not field.errors %}
                                                   {% if field.name in 'email1email2' and form.non_field_errors %}value=""
                                                   {% else %}value="{{ field.value }}"{% endif %}{% endif %}>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <p class="text-danger">RiskScape access is only available to select staff at the Massachusetts DPH and participating clinical partners</p>
                            <input class="btn btn-primary" type="submit" value="Register"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ block.super }}
{% endblock %}