{% extends 'trimscape/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card card-block">
                    <h4 class="card-title">Registration Request Submitted</h4>
                    <div class="card-text">
                        Thank you for registering at RiskScape.<br/>
                        We will review your request and grant your access soon.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ block.super }}
{% endblock %}