Dear {{ full_name }},
<br/>
Please re-register for RiskScape using your {{ institution }} email address.
<br/>
<a href="https://riskscape.esphealth.org{% url 'registration_register' %}">Re-Register</a>