{% extends 'trimscape/app_base.html' %}
{% load staticfiles %}

{% block main %}
    <ol class="breadcrumb bg-faded">
        <form id="table-form">
            <div class="row">
                {% for field in form %}
                    <div class="col-md-2 form-group {% if not field.name == 'site' %}invisible{% endif %}">
                    {{ field.invisible }}
                        <label class="small" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
        </form>
        <button class="btn btn-sm btn-primary" onclick="updateTable();">Update Table and Graph</button>
        <button class="btn btn-sm btn-secondary" onclick="resetForm();">Reset</button>
        <button id="toggle-inline-graph" class="btn btn-sm btn-info pull-xs-right">Show Inline Graph</button>
    </ol>
    <div class="row">
        <div class="col-md-12">
            <table id="coc-table" class="table table-hover table-sm">
                <thead>
                <tr>
                    <th>{{ sites.0.coc_disease }}</th>
                    <th>Count</th>
                    <th>Percent</th>
                </tr>
                </thead>
                <tbody class="tr-click">
                </tbody>
            </table>
            <div class="card card-outline-primary">
                <div class="card-header bg-primary text-white">Click Row to Add to Graph
                    <button class="btn btn-sm btn-primary pull-xs-right" onclick="resetGraph();">Reset</button>
                </div>
                <div class="card-block">
                    <div class="card-body">
                        <div id="coc-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type='text/javascript' src="{% static "trimscape/js/d3-3.5.17.min.js" %}"></script>
    <script type='text/javascript' src="{% static "trimscape/js/c3-0.4.11.min.js" %}"></script>
    <script type='text/javascript'>
        var siteData = {};
        var rowMetaData = null;
        let activeColors = [];
        let filters = null;

        let chart = c3.generate({
            bindto: '#coc-chart',
            data: {
                type: 'bar',
                columns: [],
                color: function (color, d) {
                    try {
                        return activeColors[d.index];
                    } catch (err) {
                        return '#0275D8';
                    }
                },
                line: {
                    connectNull: true
                },
            },
            bar: {
                zerobased: true
            },
            axis: {
                x: {
                    type: 'category',
                    tick: {}
                },
                y: {
                    padding: {top: 0, bottom: 0},
                    default: [0, 1],
                    max: 1,
                    min: 0,
                    tick: {
                        values: [0, .1, .20, .30, .40, .50, .60, .70, .80, .90, 1],
                        format: d3.format(".0%")
                    }

                }
            },
            tooltip: {
                format: {
                    value: function (value, ratio, id, index) {
                        var format = d3.format('.2%');
                        let count = $($('tr[data-graphed=true]').get(index)).find('td:nth(1)').html();
                        let actual = " (" + count + "/" + maxVal + ")";
                        return format(value) + actual;
                    }
                }
            },
            legend: {
                show: false
            },
            transition: {
                duration: 500
            },
            size: {height: 300}
        });

        {% for site in sites %}
            siteData['{{ site.site_name }}'] = null;
        {% endfor %}

        $("#toggle-inline-graph").on('click', function () {
            updateInlineGraph($(this), $(this).html().includes("Show"));
        });

        $('#coc-table').on('click', 'td', function () {
            let tr = $(this).parent();
            let graphed = tr.attr("data-graphed") == "true";
            if (graphed) {
                degraphRow(tr);
            } else {
                let color = colors[$('tbody tr').index(tr) % colors.length];
                tr.find('td').css({'border-bottom': '2px solid ' + color});
                tr.attr("data-graphed", true);
            }
            updateGraph();
        });

        $('#coc-table').on('mouseenter', 'tr', function(){
            let nest = parseInt($(this).attr('data-nest'))-1;
            if (nest >= 0) {
                $(this).addClass('denominator').find("span.tag").html("Numerator");
                $(this).prevAll('[data-nest="' + nest + '"]:first').addClass('denominator').find("span.tag").html("Denominator");
            }
        });

        $('#coc-table').on('mouseleave', 'tr', function(){
            $('.denominator').removeClass('denominator');
            $('span.tag').html("");
        });
        function degraphRow(row) {
            row.find('td').css({'border-bottom': ''});
            row.attr("data-graphed", false);
        }
        function resetGraph() {
            $('tr[data-graphed]').each(function () {
                degraphRow($(this));
            });
            updateGraph();
        }

        let maxVal = 0;
        function updateGraph() {
            maxVal = 0;
            let graphVals = [];
            let cats = [];
            activeColors = [];
            $('tbody tr').each(function (idx) {
                if ($(this).attr('data-graphed') == 'true') {
                    let count = parseInt($(this).find('td:eq(1)').html());
                    cats.push($(this).find('td:eq(0)').text().replace("Numerator",""));
                    maxVal = Math.max(maxVal, count);
                    graphVals.push(count);
                    activeColors.push(colors[idx % colors.length]);
                }
            });

            if (graphVals.length > 0) {
                let graphPercent = [];
                graphPercent.push("");
                graphVals.forEach(function (e) {
                    graphPercent.push(e / maxVal * 1.0);
                });
                chart.load({columns: [graphPercent], categories: cats});
            } else {
                chart.unload({ids: [""]});
            }
        }

        function getSiteData(site, url) {
            return $.getJSON(url).done(function (data) {
                siteData[site] = data['rowdata'];
                rowMetaData = data['rowmeta'];
                filters = data['filters'];
            });
        }

        function loadData() {
            activateLoadingOverlay();
            var deferred = [];
            {% for site in sites %}
                deferred.push(getSiteData('{{ site.site_name }}', '{{ site.data_file.url }}?{{ site.pk }}'));
            {% endfor %}

            $.when.apply($, deferred).done(function () {
                updateSelectors();
                setRows();
                updateTable();
                deactivateLoadingOverlay();
            });
        }

        function updateSelectors(){
            $.each(filters, function(idx, val){
                let goodFilter = val;
                $("select[id='id_"+goodFilter+"']").parents("div").removeClass("invisible");
            });
            $("select").parents("div.invisible").remove();
        }

        function updateInlineGraph(el, show) {
            $('td:first-child').each(function () {
                let size = '0% 100%';
                if (show) {
                    size = $(this).siblings(":last").html() + ' 100%';
                }
                $(this).css('background-size', size);
            });
            if (show) {
                el.html(el.html().replace('Show', 'Hide'));
            } else {
                el.html(el.html().replace('Hide', 'Show'));
            }
        }

        function setRows() {
            let colorIdx = 0;
            let colorList = [];
            for (var k in rowMetaData) {
                var rmd = rowMetaData[k];
                let nest = parseInt(rmd["nest"]);
                var tr = $('<tr>').attr({"id": "row-" + k, "data-graphed": false, "data-nest": nest});
                let tdCSS = {};
                if (nest == 0) {
                    tr.addClass('font-weight-bold');
                } else {
                    tdCSS['background-position'] = (rmd['nest'] * 20) - 5 + 'px';
                }

                if (nest == colorList.length) {
                    colorList.push(colors[colorIdx++]);
                } else if (nest < colorList.length) {
                    colorList = colorList.splice(0, nest + 1);
                }
                let barColor = hexToRGB(colorList[nest], 50);
                tdCSS['padding-left'] = rmd['nest'] * 20 + 'px';
                tdCSS['background-size'] = '0% 100%';
                tdCSS['background-repeat'] = 'no-repeat';
                tdCSS['background-image'] = 'linear-gradient(' + barColor + ',' + barColor + ')';
                tdCSS['border-right'] = '1px solid lightgray';
                tdCSS['transition'] = 'background-size 0.5s';

                tr.append(($('<td>')
                    .css(tdCSS)
                    .html(rmd['name']))
                    .prepend($("<i>").addClass("fa fa-arrow-circle-right text-primary"))
                    .append($("<i>").addClass("fa fa-info-circle")
                        .attr({"data-toggle": "tooltip", "data-placement": "top", "title": rmd['description']}))
                    .append($("<span>").addClass("tag tag-pill tag-primary pull-right"))
                )
                    .append($('<td>'))
                    .append($('<td>'));
                $('#coc-table tbody').append(tr);
            }
            $('[data-toggle="tooltip"]').tooltip();
        }

        function showData(site, key) {
            var data = mergeData(site, key);
            if (data == null) {
                $('#error-alert').show();
                resetTable();
            } else {
                $('#error-alert').hide();

                for (var k in data) {
                    var datum = data[k];
                    if (datum == null) {
                        datum = '-';
                        var percent = '-';
                    } else {
                        percent = datum / data[rowMetaData[k]['pcalc']];
                        if (isNaN(percent) || percent == Infinity) {
                            percent = "-";
                        }
                        else {
                            percent = percent * 100;
                            if (percent < 100 && percent > 0) {
                                percent = percent.toFixed(1);
                            }
                            percent += "%";
                        }
                    }
                    $('tr#row-' + k + " td:eq(1)").html(datum);
                    $('tr#row-' + k + " td:last").html(percent);
                }
            }
            updateInlineGraph($("#toggle-inline-graph"), !$('#toggle-inline-graph').html().includes('Show'));
        }

        function resetTable() {
            $('tbody tr td').not(":first-child").html("-");
        }

        function mergeData(site, key) {
            if (site != 'x') {
                return siteData[site][key];
            } else {
                var data = null;
                var siteKeys = Object.keys(siteData);
                for (var i = 0; i < siteKeys.length; i++) {
                    var sd;
                    try {
                        sd = siteData[siteKeys[i]][key];
                    } catch (e) {
                    }
                    if (typeof sd != 'undefined') {
                        if (data == null) {
                            data = $.extend({}, sd);
                        } else {
                            for (var field in data) {
                                if (data[field] != null && sd[field] != null) {
                                    data[field] += sd[field]
                                }
                            }
                        }
                    }
                }
                return data;
            }
        }

        function updateTable() {
            var site = $('select#id_site').val();
            var key = '';
            $('#table-form select:not(#id_site)').each(function () {
                key += $(this).val();
            });
            showData(site, key);
            updateGraph();
        }

        function resetForm() {
            $('select').each(function () {
                $(this).val($(this).find('option:first').val());
            });
            updateTable();
        }
        loadData();
    </script>
{% endblock %}